.App {
  text-align: center;
}

.title{
  display: flex;
  align-items: center;
  background-color: rgb(36, 66, 81) !important;
  color: white !important;
}

.form-table-container{
  width: 70%;
  margin: 6% auto;
}

.input-guide,
.form{
  margin-bottom: 6%;
  color: black !important;
  font-weight: bold !important;
}

.show-button{
  width: 17%
}

.title-row{
  height: 15%; 
  background-color: rgb(247, 100, 84) !important;
}

.button{
  background-color: rgb(224, 224, 224) !important;
  color: black !important;
}

.row-button{
    margin-top: 3% !important;
}

.title-name{
  width: 100% !important;
}

.table-title{
  font-weight: bold !important;
  color: black !important;
}